#app {
    width: 1280px;
}

* {
    box-sizing: content-box;
}

body {
    font-family: 'Raleway', sans-serif;
    box-sizing: content-box;
}

#encabezados {
    border-bottom: 1px solid gray;
    margin: 60px;
}

.tabla {
    list-style: none;
    margin-left: 20px;
    float: left;
}


/*Aca estan la entradas*/

#entrada {
    float: left;
    margin-left: 200px;
    display: block;
    border-left: 1px solid gray;
    padding-left: 25px;
}

#imagen {
    float: right;
}

#comidas {
    list-style-type: none;
}


/* Estos es el footer*/

#final {
    overflow: hidden;
    background-color: gray;
    position: relative;
    width: 1280px;
    bottom: 0;
    text-align: right;
    padding-right: 1000px;
}

#logo {
    width: 180px;
    height: 100px;
    float: left;
}